*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ANCHOR Web app top*/

.web-app{
    background-color: black;
    height: 100vh;
}

.web-app-top{
    background-color: #262e35;
    height: calc(100% - 100px);
    display: flex;
}

.aside{
    background-color: black;
    position: relative;
    z-index: 1;
    padding: 5px;
}

.aside-icon{
    width: 24px;
}

.logo-big{
    display: none;
}

.aside-menu-top{
    margin-top: 20px;
}

.aside-menu-top li{
   display: flex;
    align-items: center;
    margin: 10px 0; 
}

.aside-menu-top-link{
    color: white;
    text-decoration: none;
    display: none;
}

/* ANCHOR main*/

.main{
    background-color: #262e35;
    width: 95%;
    /*overflow-y: auto;*/
}

/*.box{
    height: 50px;
    background-color: lightblue;
    margin-bottom: 20px;
}*/

.cta{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    padding: 30px 20px 30px 0;
}

.cta-button{
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

/* ANCHOR Web app bottom*/

.web-app-bottom{
    background-color: #282828;
    height: 100px;
}
